body {
    margin: 2%;
    border: 1px solid black;
    background-color: #f0f0f0;
}

#image {
    line-height: 650px;
    width: 575px;
    height: 650px;
    border: 5px solid black;
    margin: 0 auto;
    background-color: #8e68ff;
    background-image: url('');
    background-repeat: no-repeat;
    color: #FFFFFF;
    text-align: center;
    background-size: cover;
    margin-bottom: 25px;
    font-size: 150%;
}

.preview {
    width: 10%;
    margin: 1%;
    border: 5px solid black;
    cursor: pointer;
}

/* Added focus styling for keyboard accessibility */
.preview:focus {
    border-color: yellow;
    outline: none;
}